@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

a {
    color: #FEFEFE;
    text-decoration: none;
}

body {
    background-color: #EFEFEF;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

/* body::-webkit-scrollbar {
    background: #335277;
}

body::-webkit-scrollbar-track {
    background: #EFEFEF;
    border: 1px solid #335277;
} */

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    min-width: 940px;
    margin: 0px auto;
    padding: 0px 10px;
}

.flex-condition-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    background-color: #335277;
    height: 51px;
    display: flex;
    align-items: center;
}

.main_title {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-size: 1.12em;
    margin: 0px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.manu_hamb {
    position: relative;
}

.menu_open {
    position: absolute;
    display: none;
    top: 51px;
    right: 0px;
    height: 80px;
    background: #7193BB;
}

div.showH {
    display: block;
}

.menu_item:first-child {
    margin-right: 28px;
}

.menu_item {
    color: #FEFEFE;
    font-size: 1.06em;
    font-weight: 400;
}

.intro {
    background-image: url('../img_src/background/bg_intro.svg');
    background-repeat: no-repeat;
    background-position: 177px 32px;
    height: auto;
    margin: 133px auto 0px auto;
    display: flex;
    justify-content: space-between;
    max-width: 746px;
}

.left_introduction {
    margin-top: 86px;
    text-align: right;
}

.intro_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.75em;
    max-width: 283px;
    line-height: 33.6px;
    color: #335277;
    margin: 0px;
}

.secondary_menu {
    display: none;
}

.menu_hamb {
    display: none;
}

.my_photo {
    width: 240px;
    height: 240px;
}

.links_menu {
    list-style: none;
    color: #FEFEFE;
    width: 143px;
    height: 80px;
    margin: 0px;
    padding: 15px 0px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my_name {
    font-family: 'Poppins', sans-serif;
    color: #7AA873;
    font-weight: 700;
}

.info_intro {
    font-weight: 400;
    font-size: 1.06em;
    color: #252525;
    max-width: 267px;
    display: block;
    margin-top: 12px;
}

.contact {
    margin: 41px auto 0px auto;
    font-size: 1.06em;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #252525;
}

.holder_about {
    margin: 0px auto;
    max-width: 460px;
}

.info_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #252525;
    margin: 79px 0px 54px 0px;
    max-width: 460px;
    text-align: left;
    cursor: pointer;
}

.arrow {
    vertical-align: text-top;
    float: right;
}

.banner {
    margin-top: 136px;
    display: flex;
    justify-content: center;
}

.info {
    color: #000;
    max-width: 458px;
    line-height: 33.6px;
    display: none;
}

.footer {
    padding: 19px 0px;
    background-color: #335277;
    margin-top: 202px;
}

.copy {
    margin: 0px auto;
    max-width: 120px;
    font-size: 1em;
    color: #FEFEFE;
}

.selected {
    color: #FFF;
}

.right {
    text-align: right;
}

@media (max-width: 975px) {
    .container {
        min-width: 746px;
    }
    .nav_menu {
        display: none;
    }
    .secondary_menu {
        display: block;
    }
    .menu_hamb {
        display: block;
    }
}
@media (max-width: 776px) {
    .container {
        min-width: calc(100vw - 30px);
    }
    .intro {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .left_introduction {
        text-align: center;
    }
    .copy {
        text-align: right;
    }
}

@media (max-width: 500px) {
    .menu {
        display: none;
    }
    .copy {
        text-align: center;
    }
}

.js-animate {
    display: none;
}

.activeAnimate {
    display: block !important;
    animation: animate 0.70s forwards !important;
}

.showInfo {
    display: block;
    animation: displayInfo 0.70s forwards;
}

.rotate {
    animation: rotateArrow 1s forwards;
}

@keyframes rotateArrow {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-180deg);
    }
}

@keyframes animate {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes displayInfo {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}